# Autoshard
# Copyright (c) 2026 phuonguno
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDEs and Editors
.agents/
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# Project specific
build/
bin/
tmp/
